/*.ageGridTotalWebsite {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 35px 160px 84px 160px 84px 160px 32px 51px 160px 84px 160px 35px 35px 60px;
    grid-template-rows: 60px 45px 60px 45px 40px 40px 50px 30px 50px 40px 160px 90px 160px 80px 80px 45px 60px 45px 60px; */

.selectionAdultsLayout {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 750px 35px 490px 35px 60px;
    grid-template-rows: 60px 45px 105px 80px 500px 80px 105px 45px 60px;
    grid-template-areas:
    "border-top border-top border-top border-top border-top border-top border-top border-top border-top"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-left . phone-numbers . . . search-problems-right . border-right"
    "border-left . phone-numbers . picture-adults . search-problems-right . border-right"
    "border-left . phone-numbers . . . search-problems-right . border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom";
}

#border-top {
    grid-area: border-top;
    background-color: #A1EF80;
}

#border-left {
    grid-area: border-left;
    background-color: #A1EF80;
}

#border-bottom {
    grid-area: border-bottom;
    background-color: #A1EF80;
}

#border-right {
    grid-area: border-right;
    background-color: #A1EF80;
}

#phone-numbers {
    grid-area: phone-numbers;
}

#search-problems-right {
    grid-area: search-problems-right;
}

#picture-adults {
    grid-area: picture-adults;
}

.pictureAdults {
    background-color: #D710EE;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.phoneNumbers {
    background-color: #D710EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.searchProblemsRight {
    background-color: #D710EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.layoutInputBorderTop {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.layoutInputBorderBottom {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
