/*.containerSignin {
    width: 490px;
    height: 660px;
    background-color: #CA4564;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-left: 35px;
    margin-top: 150px;
}*/


.signInLayout {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 750px 35px 490px 35px 60px;
    grid-template-rows: 60px 45px 60px 45px 660px 45px 60px 45px 60px;
    grid-template-areas:
    "border-top border-top border-top border-top border-top border-top border-top border-top border-top"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . picture-children-background picture-children-background picture-children-background . border-right"
    "border-left . signIn-box . picture-children-background picture-children-background picture-children-background . border-right"
    "border-left . . . picture-children-background picture-children-background picture-children-background . border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom";
}

#border-top {
    grid-area: border-top;
    background-color: #A1EF80;
}

#border-left {
    grid-area: border-left;
    background-color: #A1EF80;
}

#border-bottom {
    grid-area: border-bottom;
    background-color: #A1EF80;
}

#border-right{
    grid-area: border-right;
    background-color: #A1EF80;
}

#signIn-box {
    grid-area: signIn-box;
    background-color: #CA4564;
}

.signInBox {
    background-color: #D710EE;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#picture-children-background {
    grid-area: picture-children-background;
    background-color: #CA4564;
}
