.childrenLayout {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 750px 35px 490px 35px 60px;
    grid-template-rows: 60px 10px 40px 5px 40px 10px 45px 660px 45px 60px 45px 60px;
    grid-template-areas:
    "border-top border-top border-top border-top border-top border-top border-top border-top border-top"
    "border-left . . . . . . . border-right"
    "border-left . . . . . back-to-home back-to-home border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . . . selected-page selected-page border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . picture-children-background picture-children-background picture-children-background . border-right"
    "border-left . phone-numbers . picture-children-background picture-children-background picture-children-background . border-right"
    "border-left . . . picture-children-background picture-children-background picture-children-background . border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom";
}

#border-top {
    grid-area: border-top;
    background-color: #A1EF80;
}

#border-left {
    grid-area: border-left;
    background-color: #A1EF80;
}

#border-bottom {
    grid-area: border-bottom;
    background-color: #A1EF80;
}

#border-right{
    grid-area: border-right;
    background-color: #A1EF80;
}

#phone-numbers {
    grid-area: phone-numbers;
}

#picture-children-background {
    grid-area: picture-children-background;
    background-color: #CA4564;
}

#selected-page {
    grid-area: selected-page;
}

#back-to-home {
    grid-area: back-to-home;
}

.layoutInputBorderTop {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.layoutInputBorderBottom {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phoneNumbers {
    background-color: #D710EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.pictureChildrenBackground {
    background-color: #D710EE;
    background-image: url("ImagePageChildrenBig.svg");
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
 }

.layoutInputBorderTop {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.layoutInputBorderBottom {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageSize1 {
    width: 130px;
    height: 160px;
}

#imageSize2 {
    width: 160px;
    height: 130px;
}



