.children-layout {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 750px 35px 490px 35px 60px;
    grid-template-rows: 60px 10px 40px 5px 40px 10px 45px 660px 45px 60px 45px 60px;
    grid-template-areas:
    "border-top border-top border-top border-top border-top border-top border-top border-top border-top"
    "border-left . . . . . . . border-right"
    "border-left go-to-profile-page-grid go-to-profile-page-grid . . . back-to-home-grid back-to-home-grid border-right"
    "border-left . . . . . . . border-right"
    "border-left log-out-grid log-out-grid . . . selected-page-grid selected-page-grid border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . picture-children-background-grid picture-children-background-grid picture-children-background-grid . border-right"
    "border-left . phone-numbers-grid . picture-children-background-grid picture-children-background-grid picture-children-background-grid . border-right"
    "border-left . . . picture-children-background-grid picture-children-background-grid picture-children-background-grid . border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom";
}

#border-top {
    grid-area: border-top;
    background-color: #A1EF80;
}

#border-left {
    grid-area: border-left;
    background-color: #A1EF80;
}

#border-right{
    grid-area: border-right;
    background-color: #A1EF80;
}

#phone-numbers-grid {
    grid-area: phone-numbers-grid;
}

#picture-children-background-grid {
    grid-area: picture-children-background-grid;
    background-color: #CA4564;
}

.layout-input-border-top {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.phone-numbers {
    background-color: #D710EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.position-text-in-box-phone-numbers {
    margin-left: 20px;
    margin-top: 65px;
}

.img {
    width: 28px;
    height: 28px;
}

.picture-children-background {
    background-color: #D710EE;
    background-image: url("ImagePageChildrenBig.svg");
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
 }

#imageSize1 {
    width: 130px;
    height: 160px;
}

#imageSize2 {
    width: 160px;
    height: 130px;
}
