#back-to-home {
    grid-area: back-to-home;
}

.backToHome {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}
