#go-to-profile-page-grid {
    grid-area: go-to-profile-page-grid;
}

.go-to-profile-page {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

