#log-out-grid {
    grid-area: log-out-grid;
}

.log-out {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}
