#selected-page-grid {
    grid-area: selected-page-grid;
}

.selected-page {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

