.selectionYouthLayout {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 750px 35px 490px 35px 60px;
    grid-template-rows: 60px 10px 40px 5px 40px 10px 45px 80px 500px 80px 105px 45px 60px;
    grid-template-areas:
    "border-top border-top border-top border-top border-top border-top border-top border-top border-top"
    "border-left . . . . . . . border-right"
    "border-left go-to-profile-page go-to-profile-page . . . back-to-home back-to-home border-right"
    "border-left . . . . . . . border-right"
    "border-left log-out log-out . . . selected-page selected-page border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-left . phone-numbers . . . search-problems-right . border-right"
    "border-left . phone-numbers . picture-youth-small . search-problems-right . border-right"
    "border-left . phone-numbers . . . search-problems-right . border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom";
}

#border-top {
    grid-area: border-top;
    background-color: #A1EF80;
}

#border-left {
    grid-area: border-left;
    background-color: #A1EF80;
}

#border-bottom {
    grid-area: border-bottom;
    background-color: #A1EF80;
}

#border-right {
    grid-area: border-right;
    background-color: #A1EF80;
}

#phone-numbers {
    grid-area: phone-numbers;
}

#search-problems-right {
    grid-area: search-problems-right;
}

#picture-youth-big {
    grid-area: picture-youth-big;
}

#picture-youth-small {
    grid-area: picture-youth-small;
}

#selected-page {
    grid-area: selected-page;
}

#back-to-home {
    grid-area: back-to-home;
}

#go-to-profile-page {
    grid-area: go-to-profile-page;
}

#log-out {
    grid-area: log-out;
}

.layoutInputBorderTop {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.layoutInputBorderBottom {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phoneNumbers {
    background-color: #D710EE;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: self-start;
    align-content: flex-start;
    border-radius: 50px;
}

.positionTextInBox {
    margin-left: 20px;
    margin-top: 65px;
}

img {
    width: 28px;
    height: 28px;
}

.pictureYouthSmall {
    background-color: #D710EE;
    background-image: url("ImageYouth.svg");
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.searchProblemsRight {
    background-color: #D710EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px
}

.searchSelectionBox {
    background-color: #CDD32B;
    border-radius: 10px;
    width: 440px;
    height: 40px;
}

.backToHome {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}

.selectedPage {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.goToProfilePage {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

.logOut {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}


