.sign-up-layout {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 750px 35px 490px 35px 60px;
    grid-template-rows: 60px 45px 60px 45px 660px 45px 60px 45px 60px;
    grid-template-areas:
    "border-top border-top border-top border-top border-top border-top border-top border-top border-top"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . picture-sign-up-grid picture-sign-up-grid picture-sign-up-grid . border-right"
    "border-left . sign-up-box-grid . picture-sign-up-grid picture-sign-up-grid picture-sign-up-grid . border-right"
    "border-left . . . picture-sign-up-grid picture-sign-up-grid picture-sign-up-grid . border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom";
}

#border-top {
    grid-area: border-top;
    background-color: #A1EF80;
}

#border-left {
    grid-area: border-left;
    background-color: #A1EF80;
}

#border-right{
    grid-area: border-right;
    background-color: #A1EF80;
}

#sign-up-box-grid {
    grid-area: sign-up-box-grid;
    background-color: #CA4564;
}

#picture-sign-up-grid {
    grid-area: picture-sign-up-grid;
    background-color: #CA4564;
}

.sign-up-box {
    background-color: #D710EE;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
}

.picture-sign-up {
    background-color: #D710EE;
    background-image: url("ImageSignUp.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.layout-input-border-top {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
