.signUpLayout {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 750px 35px 490px 35px 60px;
    grid-template-rows: 60px 45px 60px 45px 660px 45px 60px 45px 60px;
    grid-template-areas:
    "border-top border-top border-top border-top border-top border-top border-top border-top border-top"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . picture-signUp picture-signUp picture-signUp . border-right"
    "border-left . signUp-box . picture-signUp picture-signUp picture-signUp . border-right"
    "border-left . . . picture-signUp picture-signUp picture-signUp . border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom";
}

#border-top {
    grid-area: border-top;
    background-color: #A1EF80;
}

#border-left {
    grid-area: border-left;
    background-color: #A1EF80;
}

{/*#border-bottom {
    grid-area: border-bottom;
    background-color: #A1EF80;
}*/}

#border-right{
    grid-area: border-right;
    background-color: #A1EF80;
}

#signUp-box {
    grid-area: signUp-box;
    background-color: #CA4564;
}

.signUpBox {
    background-color: #D710EE;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
}

#picture-signUp {
    grid-area: picture-signUp;
    background-color: #CA4564;
}

.pictureSignUp {
    background-color: #D710EE;
    background-image: url("ImageSignUp.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.layoutInputBorderTop {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

{/*.layoutInputBorderBottom {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}*/}
