/*@media only screen
        and (max-width: 1920px) and (max-height: 1080px) {
    body {
        width: 1800px;
        height: 960px;
        margin: 0px;
        border: 60px solid #A1EF80;
        background-color: #D710EE;
        display: flex;
        justify-content: space-between;
        color: black;

    }
}*/

