.afterSearchLayout {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 782px 35px 388px 35px 60px;
    grid-template-rows: 60px 10px 40px 5px 40px 10px 45px 40px 40px 50px 40px 50px 114px 326px 150px 60px;
    grid-template-areas:
    "border-top border-top border-top border-top border-top border-top border-top border-top border-top"
    "border-left . . . . . . . border-right"
    "border-left go-to-profile-page go-to-profile-page . . . back-to-home back-to-home border-right"
    "border-left . . . . . . . border-right"
    "border-left log-out log-out . . . selected-page selected-page border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-left . search-problems-left . web-address-box web-address-box web-address-box . border-right"
    "border-left . search-problems-left . . . . . border-right"
    "border-left . search-problems-left . search-option-web-query . postal-code-box . border-right"
    "border-left . search-problems-left . search-option-web-query . . . border-right"
    "border-left . search-problems-left . search-option-web-query . age-box . border-right"
    "border-left . search-problems-left . search-option-web-query . . . border-right"
    "border-left . search-problems-left . search-option-web-query . picture-search-web-small . border-right"
    "border-left . . . . . . . border-right"
    "border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom";
}

#border-top {
    grid-area: border-top;
    background-color: #A1EF80;
}

#border-left {
    grid-area: border-left;
    background-color: #A1EF80;
}

#border-bottom {
    grid-area: border-bottom;
    background-color: #A1EF80;
}

#border-right{
    grid-area: border-right;
    background-color: #A1EF80;
}

#search-problems-left {
    grid-area: search-problems-left ;
}

#web-address-box {
    grid-area: web-address-box;
}

#search-option-web-query{
    grid-area: search-option-web-query;
}

#picture-search-web-small {
    grid-area: picture-search-web-small;
}

#postal-code-box {
    grid-area: postal-code-box;
}

#age-box {
    grid-area: age-box;
}

#selected-page {
    grid-area: selected-page;
}

#back-to-home {
    grid-area: back-to-home;
}

#go-to-profile-page {
    grid-area: go-to-profile-page;
}

#log-out {
    grid-area: log-out;
}

.layoutInputBorderTop {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.layoutInputBorderBottom {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchProblemsLeftElderly {
    background-color: #D710EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.webAddressBox {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.searchOptionWebQuery {
    background-color: aqua;
    /*display: flex;*/
    display: grid; /* Deze en de volgende regel zijn toegevoegd om de aidWorkers onder elkaar weer te geven */
    grid-template-columns: auto; /* Deze regel is toegevoegd om de aidWorkers onder elkaar weer te geven */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.pictureSearchWebSmall {
    background-color: #D710EE;
    background-image: url("ImageSeachPostalcodeAge.svg");
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.postalCodeBox {
    background-color: #D710EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.ageBox {
    background-color: #D710EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.imageSearchPostalcodeAge {
    height: 326px;
    width: 388px;
}

.backToHome {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}

.selectedPage {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.goToProfilePage {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

.logOut {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}



