/*.ageGridTotalWebsite {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 35px 160px 84px 160px 84px 160px 32px 51px 160px 84px 160px 35px 35px 60px;
    grid-template-rows: 60px 45px 60px 45px 40px 40px 50px 30px 50px 40px 160px 90px 160px 80px 80px 45px 60px 45px 60px; */

.afterSearchLayout {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 782px 35px 388px 35px 60px;
    grid-template-rows: 60px 150px 40px 40px 50px 40px 50px 114px 326px 150px 60px;
    grid-template-areas:
    "border-top border-top border-top border-top border-top border-top border-top border-top border-top"
    "border-left . . . . . . . border-right"
    "border-left . search-problems-left . web-address-box web-address-box web-address-box . border-right"
    "border-left . search-problems-left . . . . . border-right"
    "border-left . search-problems-left . search-option-web . postal-code-box . border-right"
    "border-left . search-problems-left . search-option-web . . . border-right"
    "border-left . search-problems-left . search-option-web . age-box . border-right"
    "border-left . search-problems-left . search-option-web . . . border-right"
    "border-left . search-problems-left . search-option-web . picture-search-web-small . border-right"
    "border-left . . . . . . . border-right"
    "border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom";
}

#border-top {
    grid-area: border-top;
    background-color: #A1EF80;
}

#border-left {
    grid-area: border-left;
    background-color: #A1EF80;
}

#border-bottom {
    grid-area: border-bottom;
    background-color: #A1EF80;
}

#border-right{
    grid-area: border-right;
    background-color: #A1EF80;
}

#search-problems-left {
    grid-area: search-problems-left ;
}

#web-address-box {
    grid-area: web-address-box;
}

#search-option-web {
    grid-area: search-option-web;
}

#picture-search-web-small {
    grid-area: picture-search-web-small;
}

#postal-code-box {
    grid-area: postal-code-box;
}

#age-box {
    grid-area: age-box;
}

.layoutInputBorderTop {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.layoutInputBorderBottom {
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchProblemsLeftElderly {
    background-color: #D710EE;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.webAddressBox {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.searchOptionWeb {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.pictureSearchWebSmall {
    background-color: #D710EE;
    background-image: url("ImageSeachPostalcodeAge.svg");
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.postalCodeBox {
    background-color: #D710EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.ageBox {
    background-color: #D710EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.imageSearchPostalcodeAge {
    height: 326px;
    width: 388px;
}


