.after-search-layout {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 782px 35px 388px 35px 60px;
    grid-template-rows: 60px 10px 40px 5px 40px 10px 45px 40px 40px 50px 40px 50px 114px 326px 150px 60px;
    grid-template-areas:
    "border-top border-top border-top border-top border-top border-top border-top border-top border-top"
    "border-left . . . . . . . border-right"
    "border-left go-to-profile-page-grid go-to-profile-page-grid . . . back-to-home-grid back-to-home-grid border-right"
    "border-left . . . . . . . border-right"
    "border-left log-out-grid log-out-grid . . . selected-page-grid selected-page-grid border-right"
    "border-left . . . . . . . border-right"
    "border-left . . . . . . . border-right"
    "border-left . search-problems-left . web-address-box-grid web-address-box-grid web-address-box-grid . border-right"
    "border-left . search-problems-left . . . . . border-right"
    "border-left . search-problems-left . search-option-web-query-grid . postal-code-box-grid . border-right"
    "border-left . search-problems-left . search-option-web-query-grid . . . border-right"
    "border-left . search-problems-left . search-option-web-query-grid . age-box-grid . border-right"
    "border-left . search-problems-left . search-option-web-query-grid . . . border-right"
    "border-left . search-problems-left . search-option-web-query-grid . picture-search-web-small-grid . border-right"
    "border-left . . . . . . . border-right"
    "border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom";
}

#border-top {
    grid-area: border-top;
    background-color: #A1EF80;
}

#border-left {
    grid-area: border-left;
    background-color: #A1EF80;
}

#border-right{
    grid-area: border-right;
    background-color: #A1EF80;
}

#search-problems-left {
    grid-area: search-problems-left ;
}

#web-address-box-grid {
    grid-area: web-address-box-grid;
}

#search-option-web-query-grid{
    grid-area: search-option-web-query-grid;
}

#picture-search-web-small-grid {
    grid-area: picture-search-web-small-grid;
}

#postal-code-box-grid {
    grid-area: postal-code-box-grid;
}

#age-box-grid {
    grid-area: age-box-grid;
}

.layout-input-border-top {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-problems-left-elderly {
    background-color: #D710EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.web-address-box {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.search-option-web-query {
    background-color: aqua;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.picture-search-web-small {
    background-color: #D710EE;
    background-image: url("ImageSeachPostalcodeAge.svg");
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.postal-code-box {
    background-color: #D710EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.age-box {
    background-color: #D710EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.image-search-postalcode-age {
    height: 326px;
    width: 388px;
}



