#border {
    grid-area: border;
}

#picture-homepage {
    grid-area: picture-homepage;
}

#phoneNumbers {
    grid-area: phoneNumbers;
}

#search-age {
    grid-area: search-age;
}

#picture-children {
    grid-area: picture-children;
}

#search-problems-right {
    grid-area: search-problems-right;
}

#picture-youth-big {
    grid-area: picture-youth-big;
}

#picture-youth-small {
    grid-area: picture-youth-small;
}

#picture-adults {
    grid-area: picture-adults;
}

#picture-elderly {
    grid-area: picture-elderly;
}

#signUp-box {
    grid-area: signup;
}

#signIn-box {
    grid-area: signin;
}

#search-problems-left {
    grid-area: search-problems-left ;
}

#webAddress-box {
    grid-area: webaddress;
}

#search-option-web {
    grid-area: search-option-web;
}

#picture-search-web-big {
    grid-area: piture-search-web-big;
}

#picture-search-web-small {
    grid-area: picture-search-web-small;
}

#postalCode-box {
    grid-area: postalCode;
}

#age-box {
    grid-area: age;
}

/*.ageGridTotalWebsite {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 35px 160px 84px 160px 84px 160px 32px 51px 160px 84px 160px 35px 35px 60px;
    grid-template-rows: 60px 45px 60px 45px 40px 40px 50px 30px 50px 40px 160px 90px 160px 80px 80px 45px 60px 45px 60px; */

