/*.containerNumbers {
    width: 490px;
    height: 660px;
    background-color: #CA4564;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    grid-area: containerLeft;
    grid-column: 3;
    grid-row: 3;
}*/

/*.containerSearchAge {
    width: 490px;
    height: 660px;
    background-color: #CA4564;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    grid-area: containerRight;
    grid-column: 5;
    grid-row: 3;
}

img {
    width: 24px;
    height: 24px;
}*/





.item-B {
    grid-area: emty;
}



.search-age {
    grid-area: search-age;
}

.picture-children {
    grid-area: picture-children;
}

.search-problems-right {
    grid-area: search-problems-right;
}

.picture-youth-big {
    grid-area: picture-youth-big;
}

.picture-youth-small {
    grid-area: picture-youth-small;
}

.picture-adults {
    grid-area: picture-adults;
}

.picture-elderly {
    grid-area: picture-elderly;
}

.signUp-box {
    grid-area: signup;
}

.signIn-box {
    grid-area: signin;
}

.search-problems-left {
    grid-area: search-problems-left ;
}

.webAddress-box {
    grid-area: webaddress;
}

.search-option-web {
    grid-area: search-option-web;
}

.picture-search-web-big {
    grid-area: piture-search-web-big;
}

.picture-search-web-small {
    grid-area: picture-search-web-small;
}

.postalCode-box {
    grid-area: postalCode;
}

.age-box {
    grid-area: age;
}

.homepageWrapper {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 750px 35px 490px 35px 60px;
    grid-template-rows: 60px 45px 105px 660px 105px 45px 60px;
    grid-template-areas:
    "border-top border-top border-top border-top border-top border-top border-top border-top border-top"
    "border-left . . . . . . . border-right"
    "border-left . . . picture-homepage . . . border-right"
    "border-left . phone-numbers . picture-homepage . . . border-right"
    "border-left . . . picture-homepage . . . border-right"
    "border-left . . . . . . . border-right"
    "border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom";
}

#border-top {
    grid-area: border-top;
    background-color: #A1EF80;
}

#border-left {
    grid-area: border-left;
    background-color: #A1EF80;
}

#border-bottom {
    grid-area: border-bottom;
    background-color: #A1EF80;
}

#border-right{
    grid-area: border-right;
    background-color: #A1EF80;
}

.readout {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chosen-language {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.pictureHomepage {
    background-color: #D710EE;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture-homepage {
    grid-area: picture-homepage;
}

#phone-numbers {
    grid-area: phone-numbers;
}

.phoneNumbers {
    background-color: #D710EE;
    display: flex;
    justify-content: center;
    align-items: center;
}


