/*.containerNumbers {
    width: 490px;
    height: 660px;
    background-color: #CA4564;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    grid-area: containerLeft;
    grid-column: 3;
    grid-row: 3;
}*/

/*.containerSearchAge {
    width: 490px;
    height: 660px;
    background-color: #CA4564;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    grid-area: containerRight;
    grid-column: 5;
    grid-row: 3;
}

img {
    width: 24px;
    height: 24px;
}*/






.homepageLayout {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 750px 35px 490px 35px 60px;
    grid-template-rows: 60px 45px 105px 660px 105px 45px 60px;
    grid-template-areas:
    "border-top border-top border-top border-top border-top border-top border-top border-top border-top"
    "border-left . . . . . . . border-right"
    "border-left . . . picture-homepage . . . border-right"
    "border-left . phone-numbers . picture-homepage . search-age . border-right"
    "border-left . . . picture-homepage . . . border-right"
    "border-left . . . . . . . border-right"
    "border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom";
}

#border-top {
    grid-area: border-top;
    background-color: #A1EF80;
}

#border-left {
    grid-area: border-left;
    background-color: #A1EF80;
}

#border-bottom {
    grid-area: border-bottom;
    background-color: #A1EF80;
}

#border-right{
    grid-area: border-right;
    background-color: #A1EF80;
}

#picture-homepage {
    grid-area: picture-homepage;
}

#phone-numbers {
    grid-area: phone-numbers;
}

#search-age {
    grid-area: search-age;
}

.pictureHomepage {
    background-color: #D710EE;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phoneNumbers {
    background-color: #D710EE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchAge {
    background-color: #D710EE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layoutInputBorderTop {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.layoutInputBorderBottom {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}








