.containerNumbers {
    width: 490px;
    height: 660px;
    background-color: #CA4564;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    grid-area: containerLeft;
    grid-column: 3;
    grid-row: 3;
}

.containerSearchAge {
    width: 490px;
    height: 660px;
    background-color: #CA4564;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    grid-area: containerRight;
    grid-column: 5;
    grid-row: 3;
}

.containerHomepage {
    display: grid;
    grid-template-columns: 60px 35px 490px 750px 490px 35px 60px;
    grid-template-rows: 60px 35px 150px 660px 150px 35px 60px;
    grid-template-areas:
        ". . . . . . ."
        ". . . . . . ."
        ". . containerLeft . containerRight . ."
        ". . . . . . ."
        ". . . . . . .";
}

img {
    width: 24px;
    height: 24px;
}


