.homepage-layout {
    display: grid;
    grid-template-columns: 60px 35px 490px 35px 750px 35px 490px 35px 60px;
    grid-template-rows: 60px 45px 105px 660px 105px 45px 60px;
    grid-template-areas:
    "border-top border-top border-top border-top border-top border-top border-top border-top border-top"
    "border-left . . . . . . . border-right"
    "border-left . . . picture-homepage-grid . . . border-right"
    "border-left . phone-numbers-grid . picture-homepage-grid . search-age-grid . border-right"
    "border-left . . . picture-homepage-grid . . . border-right"
    "border-left . . . . . . . border-right"
    "border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom border-bottom";
}

#border-top {
    grid-area: border-top;
    background-color: #A1EF80;
}

#border-left {
    grid-area: border-left;
    background-color: #A1EF80;
}

#border-right {
    grid-area: border-right;
    background-color: #A1EF80;
}

#picture-homepage-grid {
    grid-area: picture-homepage-grid;
}

#phone-numbers-grid {
    grid-area: phone-numbers-grid;
    background-color: #CA4564;
}

#search-age-grid {
    grid-area: search-age-grid;
    background-color: #CA4564;
}

.picture-homepage {
    background-color: #D710EE;
    background-image: url("ImageHomepage.svg");
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.phone-numbers {
    background-color: #D710EE;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:self-start ;
    align-content: flex-start;
    border-radius: 50px;
}

.img {
    width: 28px;
    height: 28px;
}

.search-age {
    background-color: #D710EE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.age-selection-box {
    background-color: #CDD32B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 241px;
    height: 53px;
}

.position-text-in-box-phone-numbers {
    margin-left: 20px;
    margin-top: 65px;
}






