.containerBasicLeft {
    width: 490px;
    height: 660px;
    background-color: #CA4564;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-left: 35px;
    margin-top: 150px;
}

.containerBasicRight {
    width: 490px;
    height: 660px;
    background-color: #CA4564;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-right: 35px;
    margin-top: 150px;
}

.icon-call {
    height: 40vmin;
    pointer-events: none;
}




